.projects {
  display: grid;
  grid-auto-flow: rows;
  margin-bottom: 1rem;
}

@media all and (min-width: 500px) {
  .projects {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
  }
}
